/* GENERELL STYLE */

@font-face {
    font-family: rockSalt;
    src: url("../fonts/RockSalt-Regular.ttf");
}

@font-face {
    font-family: nunitoLight;
    src: url("../fonts/Nunito-Light.ttf");
}

@font-face {
    font-family: nunitoMedium;
    src: url("../fonts/Nunito-Medium.ttf");
}


@font-face {
    font-family: nunitoBold;
    src: url("../fonts/Nunito-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

/* @media only screen and (min-width: 576px) */


/* ===================== HEADER ==================== */

/* CLASSES */

.chomp {
    margin-left: 3 rem;
    font-family: rockSalt;
}


.dog1 {
    background-image: url("../img/dog_catching_snack.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50rem;
    margin-bottom: -2rem;
}

/* STYLES */

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    text-align: center;
}

header p {
    text-align: right;
    font-family: nunitoBold;
    color: rgb(199, 103, 103);
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

header img {
    width: 100%;
}


/* ===================== MAIN ==================== */

/* CLASSES */

.headLine {
    display: flex;
    background-color: rgb(199, 103, 103);
    color: #ffffff;
    justify-content: center;
    height: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 3rem;
}


.listNum {
    text-align: center;
    color: rgb(199, 103, 103);
    font-size: 3rem;
    font-family: nunitoBold;
}

.listText {
    text-align: center;
    font-family: nunitoMedium;
    font-size: 1.2rem;
}

.bowl1 {
    background-image: url("../img/dog_bowl.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 14rem;
    margin-top: 3rem;
}

.alignL {
    text-align: left;
    padding-bottom: 4rem;
    padding-left: 2.5rem;
    font-size: 1.5rem;
}

.aL1 {
    padding-top: -1rem;

}

.al2 {
    padding-left: 5.5rem;
}

.alignR {
    text-align: right;
    padding-bottom: 4rem;
    padding-right: 4.5rem;
    font-family: nunitoMedium;
    font-size: 1.5rem;
}

.alignC {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: nunitoLight;
    font-size: 1.2rem;
}

/* STYLES */

/* ===================== FOOTER ==================== */

/* CLASSES */

.signG {
    border-radius: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 4rem;
}

.signE {
    text-align: center;
}

.signB {
    margin-top: 1rem;
    background-color: rgb(199, 103, 103);
    color: #ffffff;
}

.social {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    flex-wrap: wrap;
}

.social1 {
    display: flex;
    align-content: space-around;
    padding: 0 3rem;

}

.social1a {
    width: 3.5rem;

}

.social1a-1 {
    margin-left: 1.5rem;
}

.copyR {

    padding-top: 2rem;
    padding-left: 10rem;
}

/* STYLES */

footer {
    margin-top: 10rem;
    text-align: center;
    background-color: rgb(37, 37, 37);
}

footer p {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 5rem;
    color: #ffffff;
}

footer form {
    display: flex;
    flex-direction: column;
}

/* BREAKPOINTS */

@media only screen and (min-width: 768px) {

    /* ===================== HEADER ==================== */

    .chomp {
        margin-left: 3 rem;
        font-family: rockSalt;
        font-size: 1.8rem;
        padding-top: 2.5rem;
    }

    .motto {
        font-size: 2rem;
    }

    .dog1 {
        background-image: url("../img/dog_catching_snack.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: -15rem;
        height: 85rem;
    }



    /* ===================== MAIN ==================== */

    .headLine {
        padding-bottom: 6rem;
    }

    .headLine-a {
        font-size: 2rem;
        padding-top: 1rem;
    }

    .list {
        display: flex;
        flex-direction: column;

    }

    .listNum {
        text-align: left;
        padding-left: 9rem;
        font-size: 6rem;
        font-weight: 800;
        display: flex;
        flex-direction: column;
    }

    .listText {
        font-size: 2.5rem;
        /* margin-top: -6rem; */
    }

    .bowl1 {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        height: 22rem;
        margin-top: 3rem;
        margin-right: 6rem;
    }



    /* .dog2 {
        background-image: url("../img/dog_eating_cookies.jpg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: left;
        
        height: 95rem;
        margin-left: -45rem;
        margin-right: -25rem;
        background-position-y: -20rem;

    } */

    /* .alignL {
        width: 10rem;
        text-align: right;
        margin-right: -5rem;
    }

    .al2 {
        margin-right: -5rem;
    } */

    .alignC {
        text-align: center;
        font-size: 2.2rem;
        padding-top: 8rem;
        padding-bottom: 5rem;

    }

    .signUp1 {
        padding-top: 2rem;
        font-size: 2.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .signG {
        border-radius: 50px;
        margin-left: 10rem;
        margin-right: 10rem;
        height: 7.5rem;
    }

    .signE {
        text-align: center;
        font-size: 2rem;
    }

    .signB {
        margin-top: 1rem;
        background-color: rgb(199, 103, 103);
        color: #ffffff;
        font-size: 2rem;
    }

    .social {
        display: flex;
        flex-direction: row;
        padding-top: 5rem;
        flex-wrap: wrap;
    }

    .social1 {
        display: flex;
        align-content: space-around;
        padding: 0 3rem;

    }

    .social1a {
        width: 5rem;

    }

    .social1a-1 {
        margin-left: 1.5rem;
    }

    .copyR {

        padding-top: 8rem;
        padding-left: 5rem;
        margin-left: 12rem;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {
    /* ===================== HEADER ==================== */

    body {




        */
    }

    header {
        background-color: rgb(199, 103, 103);
    }

    .chomp {

        font-family: rockSalt;
        font-size: 1.8rem;
        -bottom: -5rem;

    }

    .motto {
        font-size: 4.5rem;
        text-align: right;
        width: 20rem;
        margin-left: 40rem;
        color: #ffffff;
    }

    .dog1 {
        background-image: url("../img/dog_catching_snack.jpg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: -9rem;
        height: 65rem;
    }

    /* ===================== MAIN ==================== */

    .headLine {
        padding-bottom: 6rem;
        background-color: #ffffff;
        color: rgb(199, 103, 103);
    }

    .headLine-a {
        font-size: 6rem;
        padding-top: 1rem;
        font-family: nunitoBold;
    }

    .list {
        display: flex;
        flex-direction: row;
    }

    .listNum {
        
    }


    .listText {
        padding-top: 10rem;
    }
}